@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@import url('./auth-form/auth-form.css');

* {
    margin: 0; /*отступ*/
    padding: 0;
}



body {
    background-color: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.header {
    background-color: #000000;
    padding: 20px 100px; /*vertical horizontal*/
    font-weight: 600;
}

.count {
    background-color: #000000;
    padding: 20px 100px; /*vertical horizontal*/
    font-weight: 600;
}

.users_main {
    margin: 50px 100px;
    width: 50%;
    float: left;
}

aside {
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}

.users_main .user {
    margin-bottom: 50px;
    background-color: #c9531d;
    padding: 20px;
}

.users_main .delete-icon {
    float: right;
    color:#af1010;
    cursor: pointer;
    transform: scale(2);
}

.users_main .edit-icon {
    float: right;
    margin-right: 25px;
    color:#19c513;
    cursor: pointer;
    transform: scale(2);
}

.users_main .delete-icon:hover,
.users_main .edit-icon:hover {
    opacity: 0.5;
}

form input:not([type="checkbox"]),
form textarea,
form button{
    width: 90%;
    padding: 15px 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    background:#4b4444;
    color: #b6591b;
    outline: none;
    font-size: 15px;
}

form input[type="checkbox"] {
    margin: 10px;
}

form button {
    width: 100%;
    cursor: pointer;
    transition: transform 500ms ease;
}

form button:hover {
    transform: scale(1.1);
}

.user form {
    margin-top: 20px;
}

.user form input,
.user form textarea,
.user form button {
    background: #6b3a0c;
}

.user form button:hover {
    transform: scale(1.01);
}